<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PMDMCompose">
        <activity
            android:name=".awareness.examples.location.LocationActivity"
            android:exported="true"
            android:label="@string/title_activity_locationctivity"
            android:theme="@style/Theme.PMDMCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".navigation.sending_data.example1_bundle.LoggedActivity"
            android:exported="false"
            android:label="@string/title_activity_logged"
            android:theme="@style/Theme.PMDMCompose" />
        <activity
            android:name=".navigation.sending_data.example1_bundle.LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.PMDMCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".navigation.example1.DestinationActivity"
            android:exported="false"
            android:label="@string/title_activity_destination"
            android:theme="@style/Theme.PMDMCompose" />
        <activity
            android:name=".navigation.example1.InitialActivity"
            android:exported="true"
            android:label="@string/title_activity_initial"
            android:theme="@style/Theme.PMDMCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".navigation.example2.DestinationActivity"
            android:exported="false"
            android:label="@string/title_activity_destination"
            android:theme="@style/Theme.PMDMCompose" />
        <activity
            android:name=".navigation.example2.InitialActivity"
            android:exported="true"
            android:label="@string/title_activity_initial"
            android:theme="@style/Theme.PMDMCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".navigation.factory_functions.DestinationActivity"
            android:exported="false"
            android:label="@string/title_activity_destination"
            android:theme="@style/Theme.PMDMCompose" />
        <activity
            android:name=".navigation.factory_functions.InitialActivity"
            android:exported="true"
            android:label="@string/title_activity_initial"
            android:theme="@style/Theme.PMDMCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".navigation.bundle_DSL.DestinationActivity"
            android:exported="false"
            android:label="@string/title_activity_destination"
            android:theme="@style/Theme.PMDMCompose" />
        <activity
            android:name=".navigation.bundle_DSL.InitialActivity"
            android:exported="true"
            android:label="@string/title_activity_initial"
            android:theme="@style/Theme.PMDMCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".navigation.inline_extension.DestinationActivity"
            android:exported="false"
            android:label="@string/title_activity_destination"
            android:theme="@style/Theme.PMDMCompose" />
        <activity
            android:name=".navigation.inline_extension.InitialActivity"
            android:exported="true"
            android:label="@string/title_activity_initial"
            android:theme="@style/Theme.PMDMCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".save_UI_state.viewmodel.parcels.person_upsert.PersonUpsertActivity"
            android:exported="true"
            android:label="@string/title_activity_person_upsert"
            android:theme="@style/Theme.PMDMCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".save_UI_state.viewmodel.parcels.person_edit.PersonEditActivity"
            android:exported="true"
            android:label="@string/title_activity_person_details"
            android:theme="@style/Theme.PMDMCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".awareness.examples.sensors.SensorActivity"
            android:exported="true"
            android:label="@string/title_activity_sensor"
            android:theme="@style/Theme.PMDMCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".awareness.ObserverActivity"
            android:exported="true"
            android:label="@string/title_activity_observer"
            android:theme="@style/Theme.PMDMCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".callbacks.StateChangeActivity"
            android:exported="true"
            android:label="@string/title_activity_state_change"
            android:theme="@style/Theme.PMDMCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".save_UI_state.UIStateActivity"
            android:exported="true"
            android:label="@string/title_activity_state_change"
            android:theme="@style/Theme.PMDMCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".save_UI_state.UIStateRememberSaveableActivity"
            android:exported="true"
            android:label="@string/title_activity_state_change"
            android:theme="@style/Theme.PMDMCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".save_UI_state.viewmodel.UIStateViewModelActivity"
            android:exported="true"
            android:label="@string/title_activity_state_change"
            android:theme="@style/Theme.PMDMCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.PMDMCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>