<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PMDMCompose">

        <activity
            android:name=".counter.no_viewmodel.CounterActivity"
            android:exported="true"
            android:label="@string/title_activity_counter"
            android:theme="@style/Theme.PMDMCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".saving_ui_state.counter.no_viewmodel.CounterActivity"
            android:exported="true"
            android:label="@string/title_activity_counter"
            android:theme="@style/Theme.PMDMCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".counter.states_viewmodel.CounterActivity"
            android:exported="true"
            android:label="@string/title_activity_counter"
            android:theme="@style/Theme.PMDMCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".saving_ui_state.counter.states_viewmodel.CounterActivity"
            android:exported="true"
            android:label="@string/title_activity_counter"
            android:theme="@style/Theme.PMDMCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".saving_ui_state.counter.states_manual_viewmodel.CounterActivity"
            android:exported="true"
            android:label="@string/title_activity_counter"
            android:theme="@style/Theme.PMDMCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".counter.stateFlows_viewmodel.CounterActivity"
            android:exported="true"
            android:label="@string/title_activity_counter"
            android:theme="@style/Theme.PMDMCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".saving_ui_state.counter.stateFlows_viewmodel.CounterActivity"
            android:exported="true"
            android:label="@string/title_activity_counter"
            android:theme="@style/Theme.PMDMCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".saving_ui_state.counter.stateFlows_manual_viewmodel.CounterActivity"
            android:exported="true"
            android:label="@string/title_activity_counter"
            android:theme="@style/Theme.PMDMCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".counter.combined_stateFlows_viewmodel.CounterActivity"
            android:exported="true"
            android:label="@string/title_activity_counter"
            android:theme="@style/Theme.PMDMCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".saving_ui_state.counter.combined_stateFlows_viewmodel.CounterActivity"
            android:exported="true"
            android:label="@string/title_activity_counter"
            android:theme="@style/Theme.PMDMCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".counter.ui_state_viewmodel.CounterActivity"
            android:exported="true"
            android:label="@string/title_activity_counter"
            android:theme="@style/Theme.PMDMCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".saving_ui_state.counter.ui_state_viewmodel.CounterActivity"
            android:exported="true"
            android:label="@string/title_activity_counter"
            android:theme="@style/Theme.PMDMCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".counter.mvi_viewmodel.CounterActivity"
            android:exported="true"
            android:label="@string/title_activity_counter"
            android:theme="@style/Theme.PMDMCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".saving_ui_state.counter.mvi_viewmodel.CounterActivity"
            android:exported="true"
            android:label="@string/title_activity_counter"
            android:theme="@style/Theme.PMDMCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".counter.mvi_one_off_events_as_state_viewmodel.CounterActivity"
            android:exported="true"
            android:label="@string/title_activity_counter"
            android:theme="@style/Theme.PMDMCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".saving_ui_state.counter.mvi_one_off_events_as_state_viewmodel.CounterActivity"
            android:exported="true"
            android:label="@string/title_activity_counter"
            android:theme="@style/Theme.PMDMCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".counter.mvi_one_off_events_as_channel_flow_viewmodel.CounterActivity"
            android:exported="true"
            android:label="@string/title_activity_counter"
            android:theme="@style/Theme.PMDMCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".saving_ui_state.counter.mvi_one_off_events_as_channel_flow_viewmodel.CounterActivity"
            android:exported="true"
            android:label="@string/title_activity_counter"
            android:theme="@style/Theme.PMDMCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".lifecycle.level.ui.LevelActivity"
            android:exported="true"
            android:label="@string/title_activity_level"
            android:theme="@style/Theme.PMDMCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".lifecycle.LifecycleMenuActivity"
            android:exported="true"
            android:label="@string/title_activity_lifecycle_menu"
            android:theme="@style/Theme.PMDMCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".lifecycle.counter.ui.CounterActivity"
            android:exported="true"
            android:label="@string/title_activity_counter"
            android:theme="@style/Theme.PMDMCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".lifecycle.LifecycleActivity"
            android:exported="true"
            android:label="@string/title_activity_lifecycle"
            android:theme="@style/Theme.PMDMCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".with_dependecies.dice.DiceActivity"
            android:exported="true"
            android:label="@string/title_activity_dice"
            android:theme="@style/Theme.PMDMCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".subscribers_history.SubscribersHistoryActivity"
            android:exported="true"
            android:label="@string/title_activity_subscribers_history"
            android:theme="@style/Theme.PMDMCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".counters.CounterMVIActivity"
            android:exported="true"
            android:label="@string/title_activity_counter_mviactivity"
            android:theme="@style/Theme.PMDMCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".subscribers.SubscribersActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.PMDMCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>